<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @dance_lesson.photo.key %>);">
  <div class="container">
    <h1><%= @dance_lesson.name %></h1>
    <p><%= @dance_lesson.description %></p>
  </div>
</div>

<h2>Next dance classes offered</h2>

<h2>Book a class</h2>

<%= render 'shared/bookings_form', dance_lesson: @dance_lesson, booking: @booking %>
