// #myVideo {
//   width: 100%;
//   height: auto;
//   // position: relative;
// }

// /* Add some content at the bottom of the video/page */
// .content {
//   position: absolute;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.5);
//   color: #f1f1f1;
//   width: 100%;
//   padding: 20px;
// }


.video-container {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
  // z-index:0;
}

#myVideo {
  // position:relative;
  z-index:0;

}
.overlay {
  position:absolute;
  bottom:0;
  left:0;
  z-index:1;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
  width: 100%;

    p {
      font-size: 20px;
      font-weight: lighter;
    }
}





